.App {
  text-align: center;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-areas: 
    '. selector selector .'
    '. chart chart .';
}

.App__selector {
  grid-area: selector;
}


